body {
    background: lightgrey;
    margin: 0;
}
div {
    box-sizing: border-box;
}
header {
    background: white;
    padding: 10px;
}
header h1 {
    margin: 0;
}
div.post {
    background: white;
    margin-top: 40px;
    margin-bottom: 40px;
}
div.post img {
    width: 100%;
}
h2 {
    float: left;
}
span {
    float: right;
    color: rgb(121, 121, 121);
    padding: 10px;
    padding-top: 15px;
}
div.post h2, div.post p {
    padding: 10px;
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}